@import '../../../../variables/colors';

.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    overflow-y: auto;
}

.overview mat-card-title{
    border-bottom:2px solid $secondary;
    padding:20px 0px 20px 0px;
}

.currenttitle{
    font-size: 50px;
}

.total{
    align-self: center !important;
    text-align: center !important;
}

.total b{
    font-size: 18px;
}

.total mat-icon{
    background-color: $primary-light;
    padding: 10px;
    border-radius: 25px;
    color: $primary-dark;
}

.current{
    font-weight: normal;
    font-size: 17px !important;
}

.currentdesc{
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.green{
    color: #4caf50;
}

.green mat-icon{
    background-color:rgba(76, 175, 80, 0.098);
    margin-right: 5px;
}

.red mat-icon{
    background-color: rgba(76, 175, 80, 0.098);
    margin-right: 5px;
}
.red{
    color:#f44336;
}

.content{
    display: flex;
    flex-direction: row;
    &__card{
        flex-direction: column;
        display: flex;
        width: 40%;
    }
}

.btn{
    background-color: $primary;
    margin: 40px 20px 5px 20px;
}


.dashboard{
    margin-top: 70px;
  }
  
  .grid-container{
    display: flex;
    background-color: $secondary-light;
  }
  
  .account{
    display: flex;
    font-size: large;
  }
  
  .profile{
    background-color: $secondary;
  }
  
  .content{
    background-color: $secondary-light;
  }
  
  .toolbar{
    color:$text;
    background-color: $secondary-light;
    border-bottom: 1px solid $secondary-dark;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 83%;
  }
  
  .sidenav{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width:200px;
    width: 17%;
    height: 100vh;
    background: $secondary;
  }
  mat-icon{
    color: $text;
  }
  .head{
    &__text{
      color:$primary-dark !important;
      font-weight: bolder !important;
      font-size: 25px !important;
      letter-spacing: 10px;
      text-align: center;
    }
  }
  .link{
    cursor: pointer;
  }
  .link:hover{
    color: $primary-dark !important;
    background-color: $secondary-dark;
  }