<div class="header-container">
  <div class="logo-container">
    <a class="sidebar-toggle" (click)="goToHome()">
      <nb-icon icon="home-outline"></nb-icon>
    </a>
    <a class="logo" (click)="goToHome()">Infact</a>
  </div>
</div>
<div class="header-container">
  <button mat-button color="primary" (click)="goToLogin()">Login</button>
  <button mat-button color="primary" (click)="goToRegister()">Register</button>
  <button mat-button color="primary" (click)="goToDashboard()" *ngIf="auth.isLoggedIn()">
    <nb-icon icon="keypad-outline"></nb-icon>
     Dashboard
  </button>
</div>