<div class="row">
  <div class="col-md-5">
<div class="data" *ngIf="imageData !== null && imageData !== undefined">
  <img [src]="sanitize(imageData)" class="invoice"/>
</div>
<div class="dataw" *ngIf="imageData == null || imageData === undefined">
    <span class="warning">No image could be loaded!</span>
</div>
</div>
<div class="col-md-7">
<mat-sidenav #sidenav mode="push" position="end" opened *ngIf="model !== undefined">
  <mat-accordion>
    <mat-expansion-panel opened>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Metadata
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
        <mat-chip>Created on: {{ model.createdDate  | date: 'dd-MM-yyyy HH:mm'  }}</mat-chip>
        <mat-chip>Modified on: {{ model.lastModifiedDate | date: 'dd-MM-yyyy HH:mm' }}</mat-chip>
        <mat-chip>Done: {{ model.done  }}</mat-chip>
      </mat-chip-list>
    </mat-expansion-panel>
    <form class="example-form" (ngSubmit)="onSubmit()" #invoiceData="ngForm">
    <mat-expansion-panel opened class="invoice-data">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Invoice
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field appearance="outline">
        <mat-label>number</mat-label>
          <input matInput type="text" required id="number" [(ngModel)]="model.number" name="number">
          <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>invoice date</mat-label>
            <input matInput type="date" required id="invoiceDate" [(ngModel)]="model.invoiceDate" name="invoiceDate">
          <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>due date</mat-label>
            <input matInput type="date" required id="dueDate" [(ngModel)]="model.dueDate" name="dueDate">
          <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Category</mat-label>
        <mat-select [(value)]="model.category.name">
            <mat-option *ngFor="let option of options" [value]="option.name" (click)="changedCategory(option.name)">
            {{option.name}}
            </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Financial information
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field appearance="outline">
        <mat-label>currency</mat-label>
            <input matInput type="text"  required id="currency" [(ngModel)]="model.currency" name="currency">
          <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>vat</mat-label>
            <input matInput type="number" required id="tax" [(ngModel)]="model.vatNumber" name="vat">
          <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>total</mat-label>
            <input matInput type="number" required id="total" [(ngModel)]="model.total" name="total">
          <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>subtotal</mat-label>
            <input matInput type="number" required id="subtotal" [(ngModel)]="model.subtotal" name="subtotal">
          <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
      </mat-form-field>
      <h1 class="mat-h1">Lines</h1>
      <div *ngFor="let line of model.lines;let index = index">
        <mat-divider></mat-divider>
        {{index}}
        <mat-form-field appearance="outline">
          <mat-label>description</mat-label>
              <input matInput type="text" required [(ngModel)]="line.description" name="description-{{line.id}}">
            <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>unit price</mat-label>
              <input matInput type="number" required [(ngModel)]="line.unitPrice" name="unitprice-{{line.id}}">
            <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>amount</mat-label>
              <input matInput type="number" required [(ngModel)]="line.amount" name="amount-{{line.id}}">
            <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>quantity</mat-label>
              <input matInput type="number" required [(ngModel)]="line.quantity" name="quantity-{{line.id}}">
            <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
        </mat-form-field>
      </div>
      <button color="primary" type="button" mat-raised-button (click)="openLine()">
          Add line
      </button>
      <div *ngIf="open">
        <mat-form-field appearance="outline">
          <mat-label>description</mat-label>
              <input matInput type="text" required id="newDescription" [(ngModel)]="newLine.description" name="newDescription">
            <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>unit price</mat-label>
              <input matInput type="text" required  id="newUnitPrice" [(ngModel)]="newLine.unitPrice" name="newUnitPrice">
            <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>amount</mat-label>
              <input matInput type="number" required  id="newAmount" [(ngModel)]="newLine.amount" name="newAmount">
            <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>quantity</mat-label>
              <input matInput type="number" required id="newQuantity" [(ngModel)]="newLine.quantity" name="newQuantity">
            <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
        </mat-form-field>
        <button color="primary" type="button" mat-raised-button (click)="addLine()">
          Save
        </button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Vendor information
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field appearance="outline">
        <mat-label>name</mat-label>
            <input matInput type="text" required id="vendorName" [(ngModel)]="model.vendor.name" name="vendorName">
          <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>address</mat-label>
            <input matInput type="text" required id="vendorAddress" [(ngModel)]="model.vendor.address" name="vendorAddress">
          <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>phonenumber</mat-label>
            <input matInput type="tel" required id="vendorPhone" [(ngModel)]="model.vendor.phone" name="vendorPhone">
          <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>email</mat-label>
            <input matInput type="text" email required #email="ngModel" id="vendorEmail" [(ngModel)]="model.vendor.email" name="vendorEmail">
          <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
          <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
        </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>vatnumber</mat-label>
            <input matInput type="text" required id="vatNumber" [(ngModel)]="model.vendor.vatNumber" name="vatNumber">
          <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
      </mat-form-field>
    </mat-expansion-panel>
    <button mat-button class="btn" [disabled]="!invoiceData.form.valid">save</button>
    </form>
  </mat-accordion>
</mat-sidenav>
</div>
</div>