<mat-card class="card">
    <mat-card-title>
      Change password
    </mat-card-title>
    <mat-card-content >
        <form class="example-form" (ngSubmit)="onSubmit()" #loginData="ngForm">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Username</mat-label>
                <input matInput required type="text" id="username" [(ngModel)]="username" name="username">
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>New password</mat-label>
                <input matInput required type="password" id="password" [(ngModel)]="password.newPassword" name="password">
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Token</mat-label>
                <input matInput required type="text" id="token" [(ngModel)]="token" name="token">
              </mat-form-field>
              <mat-error *ngIf="passwordError">{{getErrorMessage()}}</mat-error>
              <button mat-raised-button color="primary" class="btn">Change password</button>
        </form>
    </mat-card-content>
</mat-card>