.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

mat-card{
    width: 50vw;
    position: relative;
    left: 25vw;
}

mat-radio-button {
    margin-right: 15px;
}

.btn {
    width: 50%;
    left: 25%;
}