<mat-card class="card">
    <mat-card-title>
      Register
    </mat-card-title>
    <mat-card-content >
        <form class="example-form" (ngSubmit)="onSubmit()" #loginData="ngForm">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Username</mat-label>
                <input matInput required  type="text" id="username" [(ngModel)]="model.username" name="username">
                <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Password</mat-label>
                <input matInput required type="password" id="password" [(ngModel)]="model.password" name="password">
                <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Firstname</mat-label>
                <input matInput required type="text" id="Firstname" [(ngModel)]="model.firstName" name="Firstname">
                <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Lastname</mat-label>
                <input matInput required type="text" id="lastname" [(ngModel)]="model.lastName" name="lastname">
                <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput required type="email" id="email" [(ngModel)]="model.email" name="email">
                <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Tenant name</mat-label>
                <input matInput required type="text" id="name" [(ngModel)]="model.name" name="name">
                <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Tenant country</mat-label>
                <input matInput required type="text" id="country" [(ngModel)]="model.country" name="country">
                <mat-error *ngIf="required.invalid">{{getErrorMessageRequired()}}</mat-error>
              </mat-form-field>
              <button mat-button class="btn">Register</button>
        </form>
    </mat-card-content>
</mat-card>