<div class="payed">
    <h2 class="title">Manage your invoices </h2>
    <div class="row">
        <div class="col-md-6">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>10 euro/month</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-list role="list">
                        <mat-list-item role="listitem">- 10 users</mat-list-item>
                      </mat-list>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button color="primary" (click)="goToRegister('10')">Pay 10</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-md-6">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>15 euro/month</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-list role="list">
                        <mat-list-item role="listitem">- 25 users</mat-list-item>
                      </mat-list>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button color="primary" (click)="goToRegister('15')">Pay 15</button>
                </mat-card-actions>
              </mat-card>
        </div>
</div>
</div>
<div class="features">
    <h2>Features</h2>
    <div class="row">
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Manage invoices</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/40801758/original/j1F1onWupx48wq2ohj192lzQD3rMbb91AA.png?1537196516" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <mat-list role="list">
                        <mat-list-item role="listitem">- Importing invoices</mat-list-item>
                        <mat-list-item role="listitem">- Data capture</mat-list-item>
                        <mat-list-item role="listitem">- Categorize invoices</mat-list-item>
                        <mat-list-item role="listitem">- Validation and verification</mat-list-item>
                      </mat-list>
                </mat-card-content>
              </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Statistics</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/40801758/original/j1F1onWupx48wq2ohj192lzQD3rMbb91AA.png?1537196516" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <mat-list role="list">
                    <mat-list-item role="listitem">- By category</mat-list-item>
                    <mat-list-item role="listitem">- By user</mat-list-item>
                    <mat-list-item role="listitem">- General</mat-list-item>
                  </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Settings</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/40801758/original/j1F1onWupx48wq2ohj192lzQD3rMbb91AA.png?1537196516" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <mat-list role="list">
                    <mat-list-item role="listitem">- Personal</mat-list-item>
                    <mat-list-item role="listitem">- Tenant</mat-list-item>
                    <mat-list-item role="listitem">- Category</mat-list-item>
                  </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
    </div>
</div>