<div class="row">
    <div class="col-lg-6">
        <h2>Bachelorproef Arne Mergan</h2>
        <p>Software as a service voor inkomende facturen</p>
        <mat-card class="card">
            <mat-card-title>
              10€/month
            </mat-card-title>
            <mat-card-content>
                - 5 users
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-title>
              15€/month
            </mat-card-title>
            <mat-card-content>
                - 15 users
            </mat-card-content>
        </mat-card>
    </div>
  </div>
  