@import '../../../../variables/colors';

.chip{
    background-color: $primary !important;
}
.done{
    color: $primary;
}

.card{
    margin-top: 70px;
}

mat-card-title{
    border-bottom:2px solid $secondary;
    padding:20px 0px 20px 0px;
}

table {
    width: 98%;
    box-shadow: none !important;
}

mat-menu-item{
    border:none;
}